DB_HOST=localhost
DB_PORT=5432
DB_NAME=nucosmos_pos
DB_USERNAME=nucosmos
DB_PASSWORD=nucosmos_dev_password
JWT_SECRET_BASE64=bmV2ZXItc2hpcC10aGlzLWRlZmF1bHQtc2VjcmV0LWluLXByb2QtdXNlLWFuLWVudi12YXI=
JWT_ACCESS_TOKEN_MINUTES=480

POSTGRES_DB=nucosmos_pos
POSTGRES_USER=nucosmos
POSTGRES_PASSWORD=nucosmos_dev_password
POSTGRES_PORT=5432
SERVER_PORT=8080
FRONTEND_ORIGIN=http://localhost:5173
