.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
android/
ios/
linux/
macos/
web/
windows/
!android/
android/*
!android/app/
android/app/*
!android/app/src/
android/app/src/*
!android/app/src/main/
android/app/src/main/*
!android/app/src/main/AndroidManifest.xml
